# Git
.git
.gitignore

# Frontend (no necesario para el backend)
frontend/
node_modules/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Documentation
README.md
DEPLOY.md
